$white: #ffffff;
$soft-blue: #f2faff;
$blue-100: #65acff;
$blue-200: #4990e3;
$purple: #c1a9e6;
$salmon: #f77f73;
$orange: #fdb01b;
$yellow: #fdce1b;
$soft-green: #6dd95d;
$green-100: #52c326;
$pink: #f77f73;
$pink-100: #e27369;

$black-200: #606060;

$gray-100: #dadada;
$gray-200: #ededed;
$gray-250: #efefef;
$gray-300: #999999;
$gray-500: #414f66;

$dark-navy: #162947;
$dark-blue: #17326d;

$primary: $soft-green;

$primary-font: "Mulish", sans-serif;
$secondary-font: "Quicksand", sans-serif;

$box-shadow: -1px 1px 15px 0px rgba(10, 10, 10, 0.24);
$box-shadow-100: 1px 1px 22px -3px rgba(0, 0, 0, 0.13);
$box-shadow-200: 0px 3px 15px rgba(0, 0, 0, 0.05);
