@use "../../config/_mixin.scss" as *;
@use "../../config/_variable.scss" as *;
.card-exp {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	padding: 16px;
	border: 1px solid #dddd;
	background-color: $white;
	border-radius: 8px;
	&__icon {
		color: $primary;
		font-size: 22px;
	}
	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 4px;
		text-transform: uppercase;
	}
	&__info {
		padding-left: 18px;
		p {
			font-size: 16px;

			&:last-child {
				margin: 0px;
			}
		}
	}
}
