@use "../../config/_mixin.scss" as *;
@use "../../config/_variable.scss" as *;

.card-sidebar {
	@include imageRatio(109, 122, true, cover, "note-image");
	background-color: $white;

	box-shadow: $box-shadow-200;
	border-radius: 18px;
	color: $dark-navy;
	opacity: 0;
	//transform: translateY(100px);

	&__body {
		padding: 32px 24px 0px;
	}
	&__footer {
		padding: 0px 24px 32px 0px;
	}
	&__list {
		list-style: none;
		padding: 0px;
		color: $gray-500;
	}

	&__list-item {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $gray-200;
	}

	&__label {
		font-weight: 700;
		font-size: 16px;
	}

	&__value {
		font-family: $secondary-font;
		font-size: 18px;
		font-weight: 700;
	}

	&__value-total {
		font-family: $secondary-font;
		font-size: 22px;
		font-weight: 700;
	}

	&__note {
		position: relative;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			right: 0;
			bottom: 0;
			left: 24px;
			background: $gray-250;
			border-radius: 8px;
		}
		p {
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	&__note-image-container {
		flex: 0 0 109px;
		z-index: 2;
	}
	&__note-container {
		position: relative;
		padding: 8px;
		z-index: 2;
		font-size: 20px;
		color: $black-200;
		font-weight: 400;
		p {
			font-size: 16px;
		}
	}

	@media only screen and (max-width: 1199.98px) {
		&__card {
			flex-direction: column;
		}
	}

	@media only screen and (max-width: 767.98px) {
		padding: 20px 16px;
		&__body {
			padding: 0px;
		}
		&__footer {
			padding: 0px 0px 32px 0px;
		}
		&__note-image-container > * {
			left: -15px;
		}
		&__note-container {
			padding: 0px 8px 0px 0px;
		}
		&__title {
			margin-bottom: 20px;
			font-size: 24px;
		}
		&__info {
			p {
				font-size: 16px;
				font-weight: 400;
			}
		}

		&__value {
			font-size: 16px;
		}

		&__value-total {
			font-size: 18px;
		}
		&__note-image-container {
			flex: 0 0 90px;
		}
	}
}
