@use "../config/variable" as *;

:root {
	--padding-btn-lg: 14px 42px;
	--padding-btn: 8px 24px;
	--font-size-btn-lg: 20px;
	--font-size-btn: 18px;
	--margin-top-btn-wrapper: 32px;
}
@media only screen and (max-width: 1199.98px) {
	:root {
		--font-size-btn-lg: 18px;
		--font-size-btn: 16px;
	}
}
@media only screen and (max-width: 991.98px) {
	:root {
		--margin-top-btn-wrapper: 24px;
	}
}
@media only screen and (max-width: 767.98px) {
	:root {
		--margin-top-btn-wrapper: 22px;
	}
}

.btn-wrapper {
	position: relative;
	margin-top: 32px;
	height: 72px;
	z-index: 10;
}

button:focus {
	outline: none;
}

.btn.btn-lg {
	padding: var(--padding-btn-lg);
	font-size: var(--font-size-btn-lg);
}

.btn-primary {
	position: relative;
	padding: var(--padding-btn);
	background-color: $blue-200;
	font-size: var(--font-size-btn);
	font-family: $secondary-font;
	font-weight: 700;
	border: none;
	border-radius: 100px;
	transition: 0.25s ease;

	span {
		position: relative;
		top: -5px;
		transition: 0.25s ease;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $blue-100;
		border-radius: 100px;
		transform: translateY(-5px);
		transition: 0.25s ease;
	}

	&:hover {
		background-color: $blue-200;
	}

	&:hover::before {
		transform: translateY(0px);
	}

	&:hover span {
		top: 0px;
	}

	// @media only screen and (max-width: 767.98px) {
	// 	display: block;
	// 	width: 100%;
	// }
}

.btn-secondary {
	position: relative;
	padding: var(--padding-btn);
	background-color: $blue-100;
	font-size: var(--font-size-btn);
	font-family: $secondary-font;
	font-weight: 700;
	border: none;
	border-radius: 100px;
	transition: 0.25s ease;

	&:hover {
		background-color: $blue-200;
	}
}

.btn-third {
	position: relative;
	padding: var(--padding-btn);
	background-color: $soft-blue;
	font-size: var(--font-size-btn);
	font-family: $secondary-font;
	color: $gray-500;
	font-weight: 700;
	border: none;
	border-radius: 100px;
	transition: 0.25s ease;

	&:hover {
		background-color: $blue-100;
		color: $white;
	}
	&:hover &__icon {
		color: $white;
	}

	&__icon {
		color: $blue-100;
	}
}

.btn-reset {
	position: relative;
	padding: var(--padding-btn);
	background-color: transparent;
	font-size: var(--font-size-btn);
	font-family: $primary-font;
	font-weight: 700;
	color: $pink;
	border-radius: 8px;
	border: 1px solid $gray-100;
	transition: 0.25s ease;

	img {
		width: 20px;
	}

	&:hover {
		background-color: $pink;
		color: $white;
	}
	&:hover path {
		fill: $white;
	}
}

.btn-delete {
	background: $pink;
	color: $white;
	transition: 0.4s ease;
	&:hover {
		background-color: $white;
		color: $pink;
	}
}

.btn-back-home {
	font-size: 18px;
	font-weight: 700;
	color: $dark-navy;
	text-decoration: none;
	transition: 0.4s ease;
	&:hover {
		color: $primary;
	}
}
