@use "../config/_variable.scss" as *;

.list-group-custom {
	.list-group-item.active {
		color: $white;
		background-color: $blue-100;
		border-color: $blue-100;
		.list-group-icon,
		.list-group-info {
			color: $white;
		}
	}
	.list-group-info {
		color: $gray-300;
	}
	.list-group-icon {
		font-size: 12px;
		color: $gray-300;
	}

	.list-group-label {
		font-weight: 700;
	}

	.list-group-item-action:not(.active):focus,
	.list-group-item-action:not(.active):hover {
		z-index: 1;
		text-decoration: none;
		background-color: #f2faff;
	}
}
