.search-tool {
	display: flex;
	&__textbox-holder {
		flex: 1 0 0;
		margin-right: 30px;
		margin-bottom: 0px;
	}

	@media only screen and (max-width: 991.98px) {
		&__textbox-holder {
			margin-right: 8px;
		}
	}
}
