.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
}

.table-custom {
	color: $white;
	.thead-custom th {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 36.5px;
		letter-spacing: 1px;
		color: $white;
		background-color: $orange-200;
		border-color: $orange-100;
		border-right: 1px solid $orange-100;

		&:last-child {
			border-right: none;
		}
	}

	&.table-hover tbody tr {
		transition: 0.4s ease;
	}

	&.table-hover tbody tr:hover {
		color: $white;
		background-color: $primary-color-hover;
	}

	td {
		border-top: none;
		font-size: 18px;
		font-weight: 600;
	}

	&__star-one,
	&__star-two,
	&__star-three {
		position: absolute;
		top: 50%;
		left: 15%;
		transform: translateY(-50%);
	}

	&__star-one {
		color: #d4b032;
	}
	&__star-two {
		color: #d6d6d7;
	}
	&__star-three {
		color: #a67143;
	}
	@media only screen and (max-width: 1199.98px) {
		.thead-custom th {
			font-size: 22px;
		}
	}
	@media only screen and (max-width: 991.98px) {
		.thead-custom th {
			font-size: 20px;
			line-height: 24px;
		}
		td {
			font-size: 16px;
		}
	}
	@media only screen and (max-width: 767.98px) {
		&__star {
			max-width: 16px;
		}
		.thead-custom th {
			font-size: 18px;
			line-height: 22px;
		}
		td {
			font-size: 14px;
		}
	}

	@media only screen and (max-width: 575.98px) {
		.thead-custom th {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: $five-color;
}
